<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Placement Details</title>
</head>
<body>
    <h2> Add Placement Details</h2>
    <form action="adddetails" method="post">
        {% csrf_token %}
        <input class="text" type="text" name="title" placeholder="Title" required=""><br /><br/>
        <input class="text" type="text" name="desc" placeholder="Description" required=""><br /><br/>

        <label style="color: rgb(6, 10, 10);font-size: 0.85em;" for="resume">&nbsp;Upload File
            &emsp;&emsp;&emsp;</label>
        <input type="file" id="resume" name="upload_resume" placeholder="Upload File"
            accept="application/pdf,application/vnd.ms-excel" /> <br /><br>

        <!-- <div class="wthree-text">
            <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I am not a Robot</span>
            </label>
            <div class="clear"> </div>
        </div> -->
        <input type="submit" value="Done">

    </form>
</body>
</html>