{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Add Traning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>

<body>
	<div class="main-w3layouts wrapper">
		<h1>ADD RECORED</h1>
		{% for message in messages%}
		<h4>{{message}}</h4>
		{% endfor %}
		<div class="main-agileinfo">
			<div class="agileits-top">
    <form action="adddetails" method="post">
        {% csrf_token %}
        <input class="text" type="text" name="title" placeholder="Title" required=""><br /><br/>
        <textarea class="text" type="text" name="desc" placeholder="Description" required=""></textarea><br /><br/>

        <label style="color: rgb(6, 10, 10);font-size: 0.85em;" for="resume">&nbsp;Upload File
            &emsp;&emsp;&emsp;</label>
        <input type="file" id="resume" name="upload_resume" placeholder="Upload File"
            accept="application/pdf,application/vnd.ms-excel" /> <br /><br>

        <!-- <div class="wthree-text">
            <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I am not a Robot</span>
            </label>
            <div class="clear"> </div>
        </div> -->
        <input type="submit" value="Done">

    </form>
</div>
</div>

<ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</div>
<!-- //main -->

</body>

</html>