<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applied</title>
</head>
<body>
    <form action="{% url 'apply' job_id user.id %}" method="post">
        {% csrf_token %}
        <label style="color: rgb(6, 10, 10);font-size: 0.85em;" for="resume">&nbsp;Upload File
            &emsp;&emsp;&emsp;</label>
        <input type="file" id="resume" name="resume" placeholder="Upload File"
            accept="application/pdf,application/vnd.ms-excel" required=""/> <br /><br>

        <input type="submit" value="Done">

    </form>

</body>
</html>