{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords"
        content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <link href="/dist/output.css" rel="stylesheet">

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>


    <script src="{% static 'js/script.js' %}"></script>

    <style>
        body {
            background-color: #fcfcfc;
        }

        .column {
            float: left;
            width: 33.33%;
        }

        .container1 {
            padding: 2px 0px 40px 70px;
        }


        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 5px;
        }

        .flip-card-front {
            background-color: rgb(7, 185, 255);
            color: black;
            text-align: center;
        }

        .flip-card-back {
            background-color: #f8fc24;
            color: rgb(2, 2, 2);
            transform: rotateY(180deg);
        }
    </style>
</head>

<body>
    <nav class="fh5co-nav" role="navigation"
        style="overflow:hidden; background-color:rgb(230 230 230);; position:fixed; top:0; width:100%;">
        <div class="top">
            <!-- <div class="container"> -->
            <!-- removing top bar -->
            <!-- <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="site">www.yourdomainname.com</p>
                    <p class="num">Call: +01 123 456 7890</p>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div> -->
            <!-- </div> -->
        </div>
        </div>
        <!-- <header class="header-of-page bg-color" style="top:0px; box-shadow: rgb(220,220,220) 0px 2px 10px;">
            <div class="header-content">
                <a href="/?home=1" class="logo">
                    <i class="iconfont icon_logo"></i>
                    " &nbsp;Clique "
                </a>
                <div class="nav-menu">
                    <div class="nav_item">
                        <span>"Home"</span>
                        </div>
                    <div class="nav_item">
                        <span>"About"</span>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="nav_item">
                        <span>"Courses"</span>
                    </div>
                    <div class="nav_item">
                        <span>"All Trainings"</span>
                    </div>
                    <div class="nav_item">
                        <span>"Placement Records"</span>
                    </div>
                    <li>Hello, {{user.first_name}}</li>
                    <div class="nav_item">
                        <span>"Logout"</span>
                    </div>
                    {% else %}
                    <div class="nav_item">
                        <span>
                            "Login"
                            <i class="iconfont icon_broad_back">
                            </i>
                        </span>
                        <div class="nav-menu-drop" style="display: none;"></div>
                    </div>
                    <div class="nav_item">
                        <span>"Register"</span>
                    </div>
                    {% endif %} -->



        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="index.html"><i class="icon-study"></i>Educ<span>.</span></a>
                        </div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li><a href="tpohome">Home</a></li>
                            <!-- If blog added -->
                            <!-- <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                            </li> -->

                            {% if user.is_authenticated %}

                            <li><a href="internshipdetails">Internships</a></li>
                            <li class="active"><a href="viewjob">Jobs</a></li>
                            <li><a href="placementdetails">Placement Records</a></li>
                            <li>Hello, {{user.first_name}}</li>
                            <li><a href="logout">Logout</a> </li>
                            {% else %}
                            <li><a href="accounts/entities"><span>Login</span></a>

                            </li>
                            <li class="btn-cta"><a href="accounts/register"><span>Register</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>


    <div style="margin-top: 130px;">
        <div style="text-align: center;color: rgb(12, 15, 15);">
        {% for message in messages%}
		<h4>{{message}}</h4>
		{% endfor %}
        </div>
        <!-- <h1 style="text-align: center; color: rgb(8, 8, 8);">Jobs</h1><br> -->
        {% for n in jobs %}
        <div class="column">
            <div class="container1">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>
                            <h2>Company name &nbsp; {{n.company}}</h2><br><br>
                            <h3>Total applied count : {{ n.applied_count}}</h3>
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <h4>Profile : {{n.profile}}</h4>
                            <p>Package : {{n.package}}<br>
                                Eligibility : {{n.eligibility}}<br>
                                Drive date : {{n.drive_date}}<br>
                                Last Date : {{n.last_date}}</p>
                            <button><a href="{% url 'applyform' n.id %}">Apply</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</body>

</html>