{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" media="all" />

	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>

<body>

	<div class="main-w3layouts wrapper">
		<h1>SignUp</h1>
		{% for message in messages%}
		<h4>{{message}}</h4>
		{% endfor %}
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="register" method="post">
					{% csrf_token %}
					<input class="text" type="text" name="university_roll_number" placeholder="University Roll Number"
						required=""><br />
					<input class="text" type="text" name="admission_number" placeholder="Admission Number"
						required=""><br />
					<input class="text" type="text" name="full_name" placeholder="Full Name" required=""><br />
					<input class="text" type="text" name="father_name" placeholder="Father Name" required=""><br />
					<input class="text" type="text" name="mother_name" placeholder="Mother Name" required=""><br />
					<input class="text" type="text" name="aadhar_number" placeholder="Aadhar Card Number"
						required=""><br />
					<!-- <input class="text" type="text" name="dateOfBirth" placeholder="Date Of Birth" required=""><br /> -->
					<label style="color: rgb(249, 252, 252);font-size: 0.85em;" for="dateOfBirth">&nbsp;Date of
						Birth&emsp;&emsp;&emsp;&emsp;</label>
					<input type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Date Of Birth"
						required=""><br><br>
					<input type="text" name="gender" placeholder="Gender" list="gender" required="">
					<datalist id="gender">
						<option value="Female">
						<option value="Male">
						<option value="Other">
					</datalist><br>
					<input class="text" type="text" name="marks1" placeholder="10th Class Percentage" required=""><br />
					<input class="text" type="text" name="marks2" placeholder="12th Class Percentage" required=""><br />
					<input class="text" type="text" name="marks3" placeholder="B.Tech Percentage" required=""><br />
					<input type="text" name="branch" placeholder="B.Tech Branch" list="branch" required="">
					<datalist id="branch">
						<option value="Computer Science & Engineering">
						<option value="Information Technology">
						<option value="Civil Engineering">
						<option value="Mechanical Engineering">
						<option value="Electronics & Communication Engineering">
					</datalist><br />

					<input class="text" type="text" name="phone_number" placeholder="Phone Number" required=""><br />
					<input class="text" type="text" name="parents_number" placeholder="Parents Phone Number"
						required=""><br />
					<input class="text" type="email" name="email" placeholder="Email" required=""><br />
					<input class="text" type="password" name="password1" placeholder="Password" required=""><br />
					<input class="text" type="password" name="password2" placeholder="Confirm Password" required=""><br>
					<label style="color: rgb(249, 252, 252);font-size: 0.85em;" for="resume">&nbsp;Upload Resume
						&emsp;&emsp;&emsp;</label>
					<input type="file" id="resume" name="upload_resume" placeholder="Upload Resume"
						accept="application/pdf,application/vnd.ms-excel" /> <br /><br>

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Don't have an Account? <a href="#"> Login Now!</a></p>
			</div>
		</div>

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->

</body>

</html>